@import "../../global";

* {
  margin: 0px;
  padding: 0px; 
  font-family: $main-font;
  color: $main-font-color;
  font-size: 100%;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
}

a { 
  color: $main-font-color;
  text-decoration: None;
}

a:hover { 
  color: $main-font-color;
  text-decoration: None;
 }

html, 
body,
#root {
    height:100vh;
    width:100vw;
    background: $site-bg;
}

.App {
  position: absolute;
  top:30px;
  right:30px;
  bottom:30px;
  left:30px;
}

.maincontainer {
  height:100%;
  width:100%;
  background: $description-bg;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
}

.Active {
    border: 1px solid black;
}